.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 30px 0;
  /* background: #669999; */
  font-family: "Ubuntu", sans-serif;
  transition: all 0.3s ease;
}

.navbar_back {
  padding: 15px 0;
  background-color: #8b0649;
}

.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  font-size: 35px;
  font-weight: 600;
  color: #85adad;
}
.navbar_back .logo a {
  color: black;
}

.navbar .logo a span {
  color: #8b0649;
}
.navbar_back .logo a span {
  color: white;
}

.navbar .menu li {
  list-style: none;
  display: inline-block;
}

.navbar .menu li .tag {
  color: #85adad;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  scroll-behavior: smooth;
  cursor: pointer;
  transition: color 0.3s ease;
}
.navbar_back .menu li .tag {
  color: white;
}

.navbar .menu li .tag:hover {
  color: #8b0649;
}

.navbar_back .menu li .tag:hover {
  color: white;
}

.menu-btn {
  color: #85adad;
  font-size: 23px;
  cursor: pointer;
  display: none;
}

.navbar_back .menu-btn {
  color: white;
}

@media (max-width: 947px) {
  .max-width {
    padding: 0 50px;
  }

  .menu-btn {
    display: block;
    z-index: 999;
  }
  .navbar .menu {
    padding-top: 80px;
    position: fixed;
    height: 100vh;
    width: 100%;
    right: -100%;
    top: 0;
    background-color: #111;
    text-align: center;
    transition: all 0.3s ease;
  }

  .navbar .menu.active {
    right: 0;
  }

  .navbar .menu li {
    display: block;
  }
  .navbar .menu li .tag {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
    transition: all 0.3s ease;
  }
}
